<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
</head>

<body>
    <form action="/rest/profile" method="POST" enctype="multipart/form-data">
        <input type="text" name="profile" />
        <input type="file" name="profile_image" />
        <input type="submit">
    </form>
</body>

</html>