<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
</head>

<body>
    <form action="/rest/board" method="POST" enctype="multipart/form-data">
        <input type="text" name="category" />
        <input type="text" name="content" />

        <input type="file" name="files" />
        <input type="file" name="files" />
        <input type="submit">
    </form>
</body>

</html>